In [32]:
import pandas as pd
cols=['Date', 'Time', 'Open','High','Low','Last']
df = pd.read_csv('data/HSI.wkly.csv',skipinitialspace=True, usecols=cols)
print(df.head(5))

        Date      Time   Open   High    Low   Last
0  2017/1/16  00:00:00  21567  21787  21271  21528
1  2017/1/23  00:00:00  21536  22037  21453  21977
2   2017/2/1  00:00:00  21845  22067  21559  21671
3   2017/2/6  00:00:00  21680  22311  21668  22172
4  2017/2/13  00:00:00  22175  22735  22146  22642

In [34]:
#Remove slashes from the date for easier plotting
df['Date'].replace(r'\/', '', regex=True, inplace=True)
#Change date column to an integer
df["Date"] = pd.to_numeric(df["Date"])

In [36]:
df

         Date      Time   Open   High    Low   Last
0     2017116  00:00:00  21567  21787  21271  21528
1     2017123  00:00:00  21536  22037  21453  21977
2      201721  00:00:00  21845  22067  21559  21671
3      201726  00:00:00  21680  22311  21668  22172
4     2017213  00:00:00  22175  22735  22146  22642
..        ...       ...    ...    ...    ...    ...
152  20191216  00:00:00  27842  28155  27570  28063
153  20191223  00:00:00  28071  28341  27921  28323
154  20191230  00:00:00  28312  28947  28198  28443
155    202016  00:00:00  28430  28726  27865  28666
156   2020113  00:00:00  28655  29222  28649  28818

[157 rows x 6 columns]